
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}


body {
    background: #262f2c;
}
.container{
    position: relative;
    height: 100%;
}
.btn-div, .reset, .checkTo, .time , .cont, .level{
    display: inline-block;
    text-align: center;
    color: #fff;
   
    border-radius: .4rem;
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgb(95, 86, 86);
 
}
.btn-div, .reset, .checkTo, .time {
    padding: .5rem 1rem;
}
.checkfo{
    margin: auto;
}
.reset, .checkTo{
    font-size: 1.5rem;
}
.btn-div, .reset, .checkTo{
    background: #ffde1a;
}
.checkTo{
    cursor: pointer;
}
.time{
    box-sizing: border-box;
    border: 1px solid #ffb91a;
}
.time span{
    margin-right: 5px;
}
.btn-div{
    width: 10rem;
    border-bottom: .8rem solid #ffb91a;
    border-top: .8rem solid #ffb91a;
    font-size: 2rem;
    margin-top: 1rem;
    z-index: 999;
}
.star-div{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 1rem 0;
}
p{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    top: 120%;
    line-height: 2rem;
    margin-left: -40%;
    font-size: .8rem;
    color: rgb(148, 130, 130);
    
}

.box-div {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.con {
    box-sizing: border-box;
    float: left;
    width: 4rem;
    height: 4rem;
    margin: .5px;
    border-radius: .3rem;
}

.conChild{
   width: 100%;
   height: 100%;
   border-radius: .3rem;
   display: none;
}

.title-span {
    color: #fff;
    display: block;
    width: 100%;
    height: 100px;
    font-size: 3rem;
    text-align: center;
    margin: 8rem auto;
}

.top-div {
    position: relative;
    width: 90%;
    margin: 4rem auto 5rem;
    text-align: center;
    display: none;
    
}
.resetdiv, .timediv, .checkdiv, .cont-div, .level-div{
    position: relative;
    display: inline-block;
   
    line-height: 3rem;
}
.cont-div{
    left: 3rem;
}
.level-div{
    right: 3rem;
}
.cont-div, .level-div{
    position: absolute;
    line-height: 1rem;
    top: -2.5rem;
}
.checkUl{
    position: absolute;
}

.checkUl{
    background: #ffde1a;
    right: -2.6rem;
    margin: auto;
    width: 14rem;
    padding: .5rem 0;
    display: none;
    z-index: 999;
}
.checkUl li{
    cursor: pointer;
   width: 100%;
   height: 3rem;
   line-height: 3rem;
   font-size: 1rem;
}
.checkUl li:nth-child(odd){
    background:rgba(255,0,0,.08);
}
.checkUl li, .checkUl{
    border-radius: .3rem;
}
.checkUl li:hover{
    background: #ffb91a;
}
.checkfo:hover .checkUl{
    display: block;
}

.game-win, .game-over{
    position: absolute;
    top:30%;
    left: 50%;
    margin: -10rem -12.5rem;
    width: 25rem;
    height: 15rem;
    background-size:contain;
}

.game-over{
    
    background-image: url('../images/gameOver.jpg');

}

.game-win{
    background-image: url('../images/gameWin.jpg');
}
.overBack, .gameWin{
    position: absolute;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}
.button-div{
    position: absolute;
    top:25%;
    left: 50%;
    margin: 11rem 0  0 -17rem ;
    width: 34rem;
    text-align: center;
}
.back{
    margin-right: 20px;
}

.game-ready{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(194, 43, 43, 0);
    display: none;
}


@media screen and ( min-width: 212px){ 
    html{ 
        font-size: 12.8px; 
    } 
    .con {
 
        width: 2.8rem;
        height: 2.8rem;
     
    }
    .checkUl{
        width: 8rem;
    }
   
} 

@media screen and ( min-width: 319px){
    html{ 
        font-size: 14.4px; 
    } 
    .time{
        margin: 0 1.2rem;
    }
    .con {
        width: 2.8rem;
        height: 2.8rem;
        margin: 5px;
    }

    .reset, .checkTo{
        font-size: 1rem;
    }
    .checkUl{
        width: 7rem;
    }
} 

@media screen and ( min-width: 359px){
    html{ 
    font-size: 15px; 
    } 
    .time{
        margin: 0 1.5rem;
    }
    .con {
   
        width: 3.2rem;
        height: 3.2rem;
    }
    .checkUl{
        width: 8rem;
    }

} 

@media screen and ( min-width: 383px){
    html { 
        font-size: 15.44px; 
    } 
    .time{
        margin: 0 2rem;
    }
    .con {

        width: 3.2rem;
        height: 3.2rem;
    }
    .checkUl{
        width: 8rem;
    }

} 

@media screen and ( min-width: 414px){
    /*414px显示屏样式 苹果6plus*/
    html{ 
        font-size: 16.48px; 
    } 
    .time{
        margin: 0 2.5rem;
    }
    .checkUl{
        width: 8rem;
    }
}

@media screen and ( min-width: 481px){
    
    html{ 
        font-size: 17px; 
    } 
    .time{
        margin: 0 1rem;
    }
    .con {
        width: 3rem;
        height: 3rem;
        margin: 0.7rem;
    }
    .checkUl{
        width: 10rem;
    }
}
@media screen and (min-width: 800px){ 
    html{ 
        font-size: 20px; 
    } 
    .time{
        margin: 0 2rem;
    }
    .con {
        width: 3rem;
        height: 3rem;
        margin: .8rem;
    }
} 
@media screen and (min-width: 961px){ 
    html{ 
        font-size: 20px; 
    } 
    .time{
        margin: 0 3rem;
    }
    .con {
        width: 4rem;
        height: 4rem;
        margin: .8rem;
    }
    .button-div{
        top:39%;
    }
    .game-win{
        top:50%;
    }
} 
